/* This changes the backround color to blue */
body {
    background-color:
#34C0C1;
  }
  * {
    margin: 0;
    box-sizing: border-box;
  }
  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }
  /* this changes the font for the heading */
  h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  /* this changes the font for the paragraph */
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: 
    #FFFFFF;
    font-weight: 2; 
    margin-top: 100px;
  margin-bottom: 164px;
  margin-right: 150px;
  margin-left: 80px;
  }

  .two{
    clear: right
  }
  .one{
    text-align: center;
  }
  .three{
    display: block;
    width: 50%;
    margin: auto;
  }
  
    .grid-container {
      display: grid;
  }
  /* nav bar below */
  
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(212, 212, 212);
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      /* Add a gray right border to all list items, except the last item (last-child) */
li {
  border-right: 1px solid rgb(0, 0, 0);
}

li:last-child {
  border-right: none;
}
      
      /* Change the link color to green on hover */
      li a:hover {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
      }  
      .active {
        background-color: #4debc8;
        color: rgb(255, 250, 250);
      }
      @media only screen and (min-width: 401px max-width: 600px) {
    
          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 50px;
            background-color: #f1f1f1;
          }
          
          li a {
            display: block;
            color: #000;
            padding: 8px 16px;
            text-decoration: none;
          }
          
          /* Change the link color on hover */
          li a:hover {
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
          }  
          .active {
            background-color: #4debc8;
            color: rgb(255, 250, 250);
          }  
          ul {
            border: 1px solid #555;
          }
          
          li {
            text-align: center;
            border-bottom: 1px solid #555;
          }
          
          li:last-child {
            border-bottom: none;
          }
      }
@media only screen and (max-width: 400px) {
  
          h1 {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 30px;
            font-weight: 40;
            color: rgb(255, 255, 255);
            text-align: center;
        }
        p {
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          font-size: 20px;
          color: 
          #FFFFFF;
          font-weight: 2; 
          margin-top: 100px;
        margin-bottom: 164px;
        margin-right: 150px;
        margin-left: 80px;
        }
      }